:root {
  --color-background: #f0f0f5;
  --color-titles: #322153;
  --color-texts: #6c6c80;
  --color-greenpeace: #34cb79;
  --color-greenpeace-2: #2fb86e;
  --color-text-button: #ffffff;
}

html,
body,
ul,
li,
p,
div,
img,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: var(--color-background);
  width: 100%;
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
}

/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
