@import './config-geral.css';

#conteudo {
  width: 85%;
  margin: 2rem auto;
}

header {
  display: flex;
  flex-wrap: wrap;
}

header .logo-imagem img {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

header .cadastrar-ponto a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-titles);
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

header .cadastrar-ponto a img {
  margin-right: 0.5rem;
  width: 1.5rem;
}

#conteudo-principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3rem;
}

#conteudo-principal .conteudo-pagina-inicial {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
}

#conteudo-principal .conteudo-pagina-inicial h1 {
  color: var(--color-titles);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 1rem;
}

#conteudo-principal .conteudo-pagina-inicial p {
  color: var(--color-texts);
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 2rem;
}

#conteudo-principal .conteudo-pagina-inicial a {
  background: var(--color-greenpeace);
  width: 70vw;
  max-width: 400px;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  color: var(--color-text-button);
  font-size: 0.8rem;
  line-height: 120%;

  border-radius: 0.4rem;

  cursor: pointer;
}

#conteudo-principal .conteudo-pagina-inicial a:hover {
  width: 85vw;
  transition: 400ms;
}

.backgound-pagina-inicial img {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

/*  ===================
        versao desktop
    ==================
*/

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  #conteudo {
    margin-top: 2rem;
    width: 70%;
  }

  header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  header .logo-imagem img {
    margin-bottom: 0;
  }

  #conteudo-principal {
    flex-direction: row;
  }

  #conteudo-principal .conteudo-pagina-inicial {
    text-align: justify;
  }

  #conteudo-principal .conteudo-pagina-inicial h1 {
    font-size: 2.2rem;
  }
  #conteudo-principal .conteudo-pagina-inicial p {
    font-size: 1.2rem;
  }

  #conteudo-principal .conteudo-pagina-inicial a {
    width: 250px;
    margin-left: 0;
  }

  #conteudo-principal .conteudo-pagina-inicial a:hover {
    width: 290px;
    transition: 500ms;
  }

  .backgound-pagina-inicial img {
    max-width: 500px;
  }
}
